<section class="contenedor flex">
  <div class="columna">
    <h2>
      Video Juegos Acción
    </h2>
    <hr>
    <ul>
      <li *ngFor="let games of videoGames1"> {{games}} </li>
    </ul>
  </div>
  <div class="columna">
    <h2>
      Video Juegos Aventura
    </h2>
    <hr>
    <ul>
      <li *ngFor="let games of videoGames2"> {{games}} </li>
    </ul>
  </div>
  <div class="columna">
    <h2>
      Video Juegos Disparos
    </h2>
    <hr>
    <ul>
      <li *ngFor="let games of videoGames3"> {{games}} </li>
    </ul>
  </div>
  <div class="columna">
    <h2>
      Video Juegos Plataforma
    </h2>
    <hr>
    <ul>
      <li *ngFor="let games of videoGames4"> {{games}} </li>
    </ul>
  </div>
</section>