<section class="tabla flex">
  <div class="columnaMov">
    <h2>
      Peliculas  de Acción
    </h2>
    <hr>
    <ul>
      <li *ngFor="let movie of listMovies1"> {{movie}} </li>
    </ul>
  </div>
  <div class="columnaMov">
    <h2>
      Peliculas Ciencia Ficción
    </h2>
    <hr>
    <ul>
      <li *ngFor="let movie of listMovies2"> {{movie}} </li>
    </ul>
  </div>
  <div class="columnaMov">
    <h2>
      Peliculas Comedia
    </h2>
    <hr>
    <ul>
      <li *ngFor="let movie of listMovies3"> {{movie}} </li>
    </ul>
  </div>
  <div class="columnaMov">
    <h2>
      Peliculas Romanticas
    </h2>
    <hr>
    <ul>
      <li *ngFor="let movie of listMovies4"> {{movie}} </li>
    </ul>
  </div>
</section>
