<div class="container" id="menu">
    <h1 class="container text-white text-center my-4 py-4" id="title">Welcome the webpage Brayan</h1>
    <nav>
        <button class="nav-button" id="buttonMenu" (click)="accionMenu()"> 
            <b> Menú </b>
        </button>

        <b> 
            <a [routerLink]="['/']" class="nav_enlace ocultar" (click)="accionMenu()"> 
                <p class="central"> Inicio </p>  
            </a> 
        </b> 

        <b> 
            <a [routerLink]="['/servicio']" class="nav_enlace ocultar" (click)="accionMenu()"> 
                <p class="central"> Servicio </p> 
            </a> 
        </b> 

        <b> 
            <a [routerLink]="['/contactenos']" class="nav_enlace ocultar" (click)="accionMenu()"> 
                <p class="central"> Contactenos </p> 
            </a> 
        </b> 

        <b> 
            <a [routerLink]="['/nosotros']" class="nav_enlace ocultar" (click)="accionMenu()"> 
                <p class="central"> Nosotros </p> 
            </a>
        </b> 

        <b> 
            <a [routerLink]="['/firebase']" class="nav_enlace ocultar" (click)="accionMenu()"> 
                <p class="central"> Firebase </p> 
            </a> 
        </b> 
    </nav>
</div>
