<h1 class="container text-white text-center my-4 py-4" id="title">Welcome the webpage Brayan</h1>

<div class="container" id="menu">
    <nav>
        <button class="nav-button" id="buttonMenu" (click)="accionMenu()"> <b> Menú </b> </button>
        <b> <a [routerLink]="['/']" class="nav_enlace ocultar"> <p class="central"> Inicio </p>  </a> </b> 
        <b> <a [routerLink]="['/servicio']" class="nav_enlace ocultar"> <p class="central"> Servicio </p> </a> </b> 
        <b> <a [routerLink]="['/contactenos']" class="nav_enlace ocultar"> <p class="central"> Contactenos </p> </a> </b> 
        <b> <a [routerLink]="['/nosotros']" class="nav_enlace ocultar"> <p class="central"> Nosotros </p> </a> </b> 
        <b> <a href="#" class="nav_enlace ocultar"> <p class="central"> Ayuda </p> </a> </b> 
    </nav>
</div>
