<!-- <h1 class="container text-white text-center my-4 py-4" id="title">Welcome the webpage Brayan</h1>

<div class="container" id="menu">
    <nav>
        <button class="nav-button" id="buttonMenu" (click)="accionMenu()"> <b> Menú </b> </button>
        <b> <a href="#" class="nav_enlace ocultar"> <p class="central"> Inicio </p>  </a> </b> 
        <b> <a href="#" class="nav_enlace ocultar"> <p class="central"> Servicio </p> </a> </b> 
        <b> <a href="#" class="nav_enlace ocultar"> <p class="central"> Contactenos </p> </a> </b> 
        <b> <a href="#" class="nav_enlace ocultar"> <p class="central"> Nosotros </p> </a> </b> 
        <b> <a href="#" class="nav_enlace ocultar"> <p class="central"> Ayuda </p> </a> </b> 
    </nav>
</div> -->

<app-cabecera></app-cabecera>

<router-outlet></router-outlet>

<!-- <app-inicio></app-inicio> -->

<!-- <div *ngIf="show; else show2">
    <div class="container"> <app-cabecera></app-cabecera> </div> 
</div>

<ng-template #show2>
    <div class="container"> <app-footer></app-footer> </div> 
</ng-template>

<div class="container">
    <h5 id="Value_Show">
        Valor de show es {{show}}
    </h5>

    <button class="change" (click)="show=!show"> <b> Action </b> </button>
</div> -->


