<div class="container">
  <h3> {{equipo.nombre}} {{equipo.apellido}} </h3>
  <h6> {{equipo.cargo}} </h6>
  <h6> {{equipo.telefono}} </h6>
  <hr>
  <h5>Descripción:</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit imperdiet leo ut, himenaeos litora dignissim posuere blandit etiam mattis fermentum sed. Aptent mauris venenatis auctor purus tellus sodales aliquam turpis cursus, penatibus sem ante ut nostra vitae ultricies eros quisque, congue quam iaculis nam morbi tristique conubia euismod. Consequat cubilia lobortis fringilla quam mattis nisl, nostra morbi vulputate vitae dis eget, hac nascetur augue mus lectus. Interdum duis eget molestie ut accumsan pharetra rhoncus blandit, magnis fusce ultrices dapibus mollis nulla eleifend, pellentesque potenti vitae primis ultricies curae ullamcorper.</p>
  <hr>
</div>
